In [ ]:
# The dataset used in this project was downloaded from http://insideairbnb.com.
# using pandas to read in the dataset
import pandas as pd
df = pd.read_csv('/content/Ash_listing.csv') 
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 5)

In [143]:
#check the dataframe
df.info()
df.index
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3009 entries, 0 to 3008
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            3009 non-null   int64
 1   listing_url                                   3009 non-null   object
 2   scrape_id                                     3009 non-null   int64
 3   last_scraped                                  3009 non-null   object
 4   source                                        3009 non-null   object
 5   name                                          3009 non-null   object
 6   description                                   3004 non-null   object
 7   neighborhood_overview                         2290 non-null   object
 8   picture_url                                   3009 non-null   object
 9   host_id                                       3009 non-null   int64
 10  host_url                                      3009 non-null   object
 11  host_name                                     3009 non-null   object
 12  host_since                                    3009 non-null   object
 13  host_location                                 2604 non-null   object
 14  host_about                                    1929 non-null   object
 15  host_response_time                            2722 non-null   object
 16  host_response_rate                            2722 non-null   object
 17  host_acceptance_rate                          2850 non-null   object
 18  host_is_superhost                             3009 non-null   object
 19  host_thumbnail_url                            3009 non-null   object
 20  host_picture_url                              3009 non-null   object
 21  host_neighbourhood                            925 non-null    object
 22  host_listings_count                           3009 non-null   int64
 23  host_total_listings_count                     3009 non-null   int64
 24  host_verifications                            3009 non-null   object
 25  host_has_profile_pic                          3009 non-null   object
 26  host_identity_verified                        3009 non-null   object
 27  neighbourhood                                 2291 non-null   object
 28  neighbourhood_cleansed                        3009 non-null   int64
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      3009 non-null   float64
 31  longitude                                     3009 non-null   float64
 32  property_type                                 3009 non-null   object
 33  room_type                                     3009 non-null   object
 34  accommodates                                  3009 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                3008 non-null   object
 37  bedrooms                                      2850 non-null   float64
 38  beds                                          2980 non-null   float64
 39  amenities                                     3009 non-null   object
 40  price                                         3009 non-null   object
 41  minimum_nights                                3009 non-null   int64
 42  maximum_nights                                3009 non-null   int64
 43  minimum_minimum_nights                        3009 non-null   int64
 44  maximum_minimum_nights                        3009 non-null   int64
 45  minimum_maximum_nights                        3009 non-null   int64
 46  maximum_maximum_nights                        3009 non-null   int64
 47  minimum_nights_avg_ntm                        3009 non-null   float64
 48  maximum_nights_avg_ntm                        3009 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              3009 non-null   object
 51  availability_30                               3009 non-null   int64
 52  availability_60                               3009 non-null   int64
 53  availability_90                               3009 non-null   int64
 54  availability_365                              3009 non-null   int64
 55  calendar_last_scraped                         3009 non-null   object
 56  number_of_reviews                             3009 non-null   int64
 57  number_of_reviews_ltm                         3009 non-null   int64
 58  number_of_reviews_l30d                        3009 non-null   int64
 59  first_review                                  2817 non-null   object
 60  last_review                                   2817 non-null   object
 61  review_scores_rating                          2817 non-null   float64
 62  review_scores_accuracy                        2816 non-null   float64
 63  review_scores_cleanliness                     2816 non-null   float64
 64  review_scores_checkin                         2816 non-null   float64
 65  review_scores_communication                   2816 non-null   float64
 66  review_scores_location                        2816 non-null   float64
 67  review_scores_value                           2816 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              3009 non-null   object
 70  calculated_host_listings_count                3009 non-null   int64
 71  calculated_host_listings_count_entire_homes   3009 non-null   int64
 72  calculated_host_listings_count_private_rooms  3009 non-null   int64
 73  calculated_host_listings_count_shared_rooms   3009 non-null   int64
 74  reviews_per_month                             2817 non-null   float64
dtypes: float64(18), int64(24), object(33)
memory usage: 1.7+ MB

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [ ]:
#Remove the dollar signs in 'price'
df['price'] = df['price'].replace('$', '')

In [146]:
#some fields are irrelevant for this project, so a few columns were dropped
df_new = df.drop(['scrape_id', 'last_scraped', 'picture_url', 'host_id', 
         'host_url','host_thumbnail_url', 'host_picture_url', 'source'], axis = 1)

In [147]:
#now that the dataset is ready to use, convert it into a sql table
import sqlite3
conn = sqlite3.connect('/df_new.db')
df_new.to_sql('new', conn, if_exists='replace', index=False)

In [148]:
#execute sql queries-testing if the dataset has been converted successfully
conn.execute("""
select id
from new
limit 5
""").fetchall()

[(108061,), (155305,), (156805,), (156926,), (197263,)]

Question 1: What property type is the most expensive property in this dataset? How much does it cost to rent this type of property on average?

In [149]:
#thought process: calculate the average price listing by property types. Round to 2 decimal places. To save some space, only 15 rows are displayed
conn.execute("""
  select property_type, round(avg(price),2) as "average_price"
  from new
  group by property_type 
  order by average_price desc
  limit 15
""").fetchall()

[('Room in boutique hotel', 647.61),
 ('Room in bed and breakfast', 352.21),
 ('Entire chalet', 346.86),
 ('Entire vacation home', 307.75),
 ('Entire villa', 277.5),
 ('Treehouse', 273.33),
 ('Entire townhouse', 268.27),
 ('Entire condo', 251.08),
 ('Shared room in rental unit', 250.0),
 ('Entire loft', 235.28),
 ('Private room in bed and breakfast', 233.35),
 ('Entire cabin', 217.84),
 ('Entire home', 215.19),
 ('Private room in hostel', 214.67),
 ('Room in hotel', 186.5)]

Answer to question 1: Rooms in boutique hotel cost the most on average at a rate of $647.61

Question 2: what type of property is the most reasonably priced?

In [ ]:
conn.execute("""
  select a.property_type
  from (select property_type, round(avg(price),2) as 'average_price'
        from new
        group by property_type
        order by average_price
        limit 1) as a
""").fetchall()

[('Private room in hut',)]

Question 3: I'd like to look for something immediately availabe and has the highest rating. Is it possible? If so, how much does it cost per night?

In [150]:
#highest rating in 2021
conn.execute("""
  select listing_url, host_name, max(review_scores_rating), price
  from new
  where instant_bookable = 't' and availability_30 > 5
""").fetchall()

[('https://www.airbnb.com/rooms/8070733',
  'Jacqueline & Savannah',
  5.0,
  '150.00')]